<mat-card>
    <h2 *ngIf="isAddMode">Add User</h2>
<h2 *ngIf="!isAddMode">Edit User</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <mat-form-field class="form-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="USERNAME" [ngClass]="{ 'is-invalid': submitted && f.USERNAME.errors }">
        <div *ngIf="submitted && f.USERNAME.errors">
            <div *ngIf="f.USERNAME.errors.required"><mat-hint>Username is required</mat-hint></div>
        </div>
    </mat-form-field>

    <mat-form-field class="form-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="PASSWORD" [ngClass]="{ 'is-invalid': submitted && f.PASSWORD.errors }">
        <div *ngIf="submitted && f.PASSWORD.errors">
            <div *ngIf="f.PASSWORD.errors.required"><mat-hint>Password is required</mat-hint></div>
            <div *ngIf="f.PASSWORD.errors.minlength"><mat-hint>Password must be at least 6 characters</mat-hint></div>
        </div>
    </mat-form-field>

    <mat-form-field class="form-width" appearance="fill">
        <mat-label>Role ID</mat-label>
        <input matInput type="text" formControlName="ROLE_ID" [ngClass]="{ 'is-invalid': submitted && f.ROLE_ID.errors }">
        <div *ngIf="submitted && f.ROLE_ID.errors">
            <div *ngIf="f.ROLE_ID.errors.required"><mat-hint>Role ID is required</mat-hint></div>
        </div>
    </mat-form-field>

    <div>
        <button [disabled]="loading" mat-stroked-button color="primary">
            <span *ngIf="loading"></span>
            Save
        </button> &nbsp;
        <button mat-button routerLink="/users">Cancel</button>
    </div>
</form>

    

</mat-card>
