<div class="center">

    <h2>Voltage API Demo w/ NodeJS</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="form-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field>

        <br/>

        <mat-form-field class="form-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>

        <br/>

        <button mat-stroked-button color="primary" class="form-width" [disabled]="loading">
            <span *ngIf="loading"></span>
            Login
        </button>
            
    </form>
</div>


    
